body {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

#timer {
    font-size: 3em;
    margin-bottom: 20px;
}
