* {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 200;
}

body {
  font-size: 16px;
  line-height: 40px;
  letter-spacing: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eeebe2;
  color: #080909;
}

.container {
  margin-top: 150px;
  background-color: #fff;
  padding: 40px;
  border-radius: 5px;
  text-align: center;
}

#timer {
  font-size: 3em;
  margin-bottom: 20px;
}
